# Etude des Causes de la faim dans le monde

Ce projet consiste à  réaliser une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.
5 fichiers à dispositions issues de la base de donnée de la FAO, de la banque mondiale :
- fr_animaux.csv : multiples indicateurs de production des produits animaux en 2013
- fr_population.csv: population mondiale par pays en 2013
- fr_vegetaux.csv: multiples indicateurs de production des produits végétaux en 2013
- fr_céréales.csv: quantité de céréales produites au niveau mondial en 2013    
- fr_sousalimentation.csv: nombre de personnes sous alimentées dans le monde de 2013 à 2017.

In [1]:
# Import des librairies necessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# import data

df_population = pd.read_csv('fr_population.csv')
df_animaux = pd.read_csv('fr_animaux.csv')
df_vegetaux = pd.read_csv('fr_vegetaux.csv')
df_sousNutrition = pd.read_csv('fr_sousalimentation.csv')

## Calcul de la population mondiale en 2013

In [3]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [4]:
df_population.isnull().sum()

Code Domaine                0
Domaine                     0
Code zone                   0
Zone                        0
Code Élément                0
Élément                     0
Code Produit                0
Produit                     0
Code année                  0
Année                       0
Unité                       0
Valeur                      0
Symbole                   174
Description du Symbole      0
dtype: int64

In [5]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [6]:
# liste des valeurs unique de la colonne Zone. Des provinces Chinoises ont été comptées comme pays
df_population['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan', 'Bahamas',
       'Bangladesh', 'Barbade', 'Bélarus', 'Belgique', 'Belize', 'Bénin',
       'Bermudes', 'Bolivie (État plurinational de)',
       'Bosnie-Herzégovine', 'Botswana', 'Brésil', 'Brunéi Darussalam',
       'Bulgarie', 'Burkina Faso', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba', 'Danemark',
       'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Espagne', 'Estonie',
       'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Guatemala',
       'Guinée', 'Guinée-Bissau', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Mongolie', 'Monténégro', 'Mozambique', 'Myanmar',
       'Namibie', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Panama', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Portugal', 'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique populaire lao',
       'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Sao Tomé-et-Principe',
       'Sénégal', 'Serbie', 'Sierra Leone', 'Slovaquie', 'Slovénie',
       'Soudan', 'Sri Lanka', 'Suède', 'Suisse', 'Suriname',
       'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Trinité-et-Tobago', 'Tunisie',
       'Turkménistan', 'Turquie', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

In [7]:
df_population['Valeur'].sum() # La valeur de la population mondiale...
#...est surestimé

8413993

In [8]:
# Verification puis suppression des zones en doublons (Chine - RAS de Hong-Kong',
#'Chine - RAS de Macao', 'Chine, continentale')
Population_chine = df_population.loc[df_population['Zone'] == 'Chine', 'Valeur'] # 1_416_667
Population_chine

33    1416667
Name: Valeur, dtype: int64

In [9]:
(df_population.loc[df_population['Zone'] == 'Chine - RAS de Hong-Kong', 'Valeur']) +(df_population.loc[df_population['Zone'] == 'Chine - RAS de Macao', 'Valeur']) +(df_population.loc[df_population['Zone'] == 'Chine, continentale', 'Valeur'])

34   NaN
35   NaN
36   NaN
Name: Valeur, dtype: float64

In [10]:
Population_hongkong = df_population.loc[df_population['Zone'] == 'Chine - RAS de Hong-Kong', 'Valeur']
Population_hongkong

34    7204
Name: Valeur, dtype: int64

In [11]:
Population_macao = (df_population.loc[df_population['Zone'] == 'Chine - RAS de Macao', 'Valeur'])
Population_macao

35    566
Name: Valeur, dtype: int64

In [12]:
Population_chineContinent = (df_population.loc[df_population['Zone'] == 'Chine, continentale', 'Valeur'])
Population_chineContinent

36    1385567
Name: Valeur, dtype: int64

In [13]:
Population_taiwan = (df_population.loc[df_population['Zone'] == 'Chine, Taiwan Province de', 'Valeur'])
Population_taiwan

37    23330
Name: Valeur, dtype: int64

In [14]:
# verifions que les valeurs des populations de plusieurs pays sont agrégées dans celle de la Chine
chine_satellite = (np.array(Population_hongkong) + np.array(Population_chineContinent) + np.array(Population_macao)
                   + np.array(Population_taiwan))

print(f"population chine {np.array(Population_chine)}")
print(f"population chine et satellite {chine_satellite}")

population chine [1416667]
population chine et satellite [1416667]

In [15]:
# Calcul de la population mondiale arythmétiquement (méthode 1)
np.array(df_population['Valeur'].sum()) - (np.array(Population_hongkong)
        + np.array(Population_chineContinent) + np.array(Population_macao) + np.array(Population_taiwan))

array([6997326])

In [16]:
df_population.iloc[33:39]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle
38,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,50,Chypre,511,Population totale,2501,Population,2013,2013,1000 personnes,1141,NaN,Donnée officielle

In [17]:
# calcul de la population mondiale en supprimant la ligne dupliquée - methode 2
df_population_noChina = df_population.drop(index = 33)
world_population = df_population_noChina['Valeur'].sum()

## Calculons (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

In [18]:
df_animaux.head()

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN

In [19]:
df_vegetaux.head()

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an)
0,Afghanistan,2,"Agrumes, Autres",NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
1,Afghanistan,2,Aliments pour enfants,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2,Ananas,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Bananes,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bière,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3000000.0,3000000.0,NaN,NaN,NaN,NaN,NaN

In [20]:
df_animaux['origine'] = 'animal'
df_vegetaux['origine'] = 'vegetal'

In [21]:
# les dataframes animau et vegetau sont concatenés (verticalement, axis=0)
main_df = pd.concat([df_animaux, df_vegetaux])
main_df.head(5)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal

In [22]:
# eemple de la France
main_df[main_df['Zone'] == 'France']

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine
1163,France,68,Abats Comestible,NaN,0.0,18.0,5.86,0.51,2.93,3.770000e+08,1.660000e+08,9.000000e+07,3.770000e+08,NaN,4.530000e+08,NaN,NaN,0.0,animal
1164,France,68,Animaux Aquatiques Autre,NaN,0.0,0.0,0.07,0.00,0.01,4.000000e+06,1.000000e+06,5.000000e+06,4.000000e+06,NaN,0.000000e+00,NaN,NaN,0.0,animal
1165,France,68,"Beurre, Ghee",0.0,NaN,157.0,7.98,17.72,0.20,5.130000e+08,7.600000e+07,1.840000e+08,5.130000e+08,NaN,4.050000e+08,NaN,NaN,0.0,animal
1166,France,68,Cephalopodes,NaN,0.0,1.0,0.48,0.01,0.18,3.100000e+07,1.900000e+07,3.100000e+07,3.100000e+07,NaN,1.800000e+07,NaN,NaN,0.0,animal
1167,France,68,Crustacés,NaN,0.0,5.0,3.66,0.05,0.96,2.360000e+08,3.400000e+07,2.540000e+08,2.360000e+08,NaN,1.500000e+07,NaN,NaN,NaN,animal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3841,France,68,Sésame,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+07,0.000000e+00,1.100000e+07,NaN,NaN,NaN,NaN,10000000.0,NaN,vegetal
3842,France,68,Thé,NaN,NaN,0.0,0.27,NaN,0.07,1.700000e+07,5.000000e+06,2.200000e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN,vegetal
3843,France,68,Tomates,NaN,NaN,10.0,20.45,0.11,0.50,1.417000e+09,3.070000e+08,1.131000e+09,1.315000e+09,102000000.0,5.930000e+08,NaN,0.0,NaN,vegetal
3844,France,68,Vin,NaN,97000000.0,71.0,37.78,NaN,0.00,3.326000e+09,1.532000e+09,5.650000e+08,2.429000e+09,16000000.0,4.293000e+09,NaN,785000000.0,0.0,vegetal
3845,France,68,"Épices, Autres",NaN,NaN,2.0,0.19,0.07,0.06,1.200000e+07,7.000000e+06,1.900000e+07,1.200000e+07,NaN,NaN,NaN,NaN,0.0,vegetal

In [23]:
# exemple indicateur de production de blé pour la France
df_ble_france= main_df[(main_df['Zone'] == 'France') & (main_df['Produit'] == 'Blé')]
df_ble_france

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine
3782,France,68,Blé,7.822000e+09,2.824000e+09,811.0,108.43,4.2,25.99,2.029800e+10,2.150200e+10,2.055000e+09,6.971000e+09,358000000.0,3.861400e+10,748000000.0,1.575000e+09,1.131000e+09,vegetal

In [24]:
equation1 = df_ble_france['Production (kg/an)'] + df_ble_france['Importations - Quantité (kg/an)']
- df_ble_france['Exportations - Quantité (kg/an)'] + df_ble_france['Variation de stock (kg/an)']
equation1

3782    4.066900e+10
dtype: float64

In [25]:
equation2 = df_ble_france['Nourriture (kg/an)'] + df_ble_france['Aliments pour animaux (kg/an)'] 
+ df_ble_france['Semences (kg/an)'] + df_ble_france['Autres utilisations (non alimentaire) (kg/an)'] 
+ df_ble_france['Traitement (kg/an)'] + df_ble_france['Pertes (kg/an)']

equation2

3782    1.479300e+10
dtype: float64

In [26]:
equation3 = df_ble_france['Disponibilité intérieure (kg/an)']
equation3

3782    2.029800e+10
Name: Disponibilité intérieure (kg/an), dtype: float64

## Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

In [27]:
df_population = df_population.rename(columns={'Valeur': 'nombre_habitants'})
df_population.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,nombre_habitants,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle

In [28]:
df_popuation_nb = df_population[['Zone', 'nombre_habitants']]
df_popuation_nb

                                       Zone  nombre_habitants
0                               Afghanistan             30552
1                            Afrique du Sud             52776
2                                   Albanie              3173
3                                   Algérie             39208
4                                 Allemagne             82727
..                                      ...               ...
170  Venezuela (République bolivarienne du)             30405
171                                Viet Nam             91680
172                                   Yémen             24407
173                                  Zambie             14539
174                                Zimbabwe             14150

[175 rows x 2 columns]

In [29]:
main_df.head()

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal

In [30]:
# merger les tables main et populations pour avoir les informations de la population dans la table principale
main_df = pd.merge(main_df, df_popuation_nb, on='Zone', how='left') # left !!!--> garde en priorité les données du df de droite.    inner-->en même temps main et\
#population    
main_df

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal,30552
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561
15698,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561
15699,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561
15700,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,0.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561
15701,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.000000e+00,0.0,0.0,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,vegetal,561

In [31]:
# conversion du nombre d'habitants à l'echelle (unité)
main_df['nombre_habitants'] *= 1000
main_df

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552000
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552000
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal,30552000
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552000
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,Îles Salomon,25,Sésame,NaN,NaN,0.0,0.01,NaN,NaN,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561000
15698,Îles Salomon,25,Thé,NaN,NaN,0.0,0.17,NaN,0.04,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561000
15699,Îles Salomon,25,Tomates,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,NaN,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561000
15700,Îles Salomon,25,Vin,NaN,NaN,0.0,0.07,NaN,NaN,0.000000e+00,0.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,vegetal,561000
15701,Îles Salomon,25,"Épices, Autres",NaN,NaN,4.0,0.48,0.21,0.15,0.000000e+00,0.0,0.0,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,vegetal,561000

In [32]:
# verifions qu'on a bien les colonnes souhaitées
main_df.columns

Index(['Zone', 'Code zone', 'Produit', 'Aliments pour animaux (kg/an)',
       'Autres utilisations (non alimentaire) (kg/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure (kg/an)', 'Exportations - Quantité (kg/an)',
       'Importations - Quantité (kg/an)', 'Nourriture (kg/an)',
       'Pertes (kg/an)', 'Production (kg/an)', 'Semences (kg/an)',
       'Traitement (kg/an)', 'Variation de stock (kg/an)', 'origine',
       'nombre_habitants'],
      dtype='object')

In [33]:
# verifions qu'on a bien la colonne nombre d'habitant renommée
main_df.loc[(main_df['Zone'] == 'France'), 'nombre_habitants']

1163    64291000
1164    64291000
1165    64291000
1166    64291000
1167    64291000
          ...
7572    64291000
7573    64291000
7574    64291000
7575    64291000
7576    64291000
Name: nombre_habitants, Length: 95, dtype: int64

In [34]:
# Calcul et ajout de la colonne disponibilité alimentaire en kcal
main_df['dispo_alimentaire_kcal'] = main_df['Disponibilité alimentaire (Kcal/personne/jour)'] * main_df['nombre_habitants'] * 365
main_df.head(2)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants,dispo_alimentaire_kcal
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,...,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN,animal,30552000,5.575740e+10
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36000000.0,...,0.0,36000000.0,NaN,36000000.0,NaN,NaN,NaN,animal,30552000,2.564840e+11

In [35]:
# Calcul et ajout de la colonne disponibilité alimentaire en protéine
main_df['dispo_alimentaire_proteines'] = main_df['Disponibilité de protéines en quantité (g/personne/jour)'] / 1000 * main_df['nombre_habitants'] * 365
main_df.head(2)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants,dispo_alimentaire_kcal,dispo_alimentaire_proteines
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,...,53000000.0,NaN,53000000.0,NaN,NaN,NaN,animal,30552000,5.575740e+10,8586639.6
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36000000.0,...,36000000.0,NaN,36000000.0,NaN,NaN,NaN,animal,30552000,2.564840e+11,334544.4

In [36]:
cols = ['dispo_alimentaire_kcal', "Nourriture (kg/an)", 'dispo_alimentaire_proteines']

main_df[cols] = main_df[cols].replace(['0', 0], np.nan)
main_df[cols]

       dispo_alimentaire_kcal  Nourriture (kg/an)  dispo_alimentaire_proteines
0                5.575740e+10        5.300000e+07                   8586639.60
1                2.564840e+11        3.600000e+07                    334544.40
2                3.345444e+10        1.800000e+07                    446059.20
3                1.338178e+11        1.500000e+07                    111514.80
4                1.115148e+12        1.901000e+09                  68247057.60
...                       ...                 ...                          ...
15697                     NaN                 NaN                          NaN
15698                     NaN                 NaN                      8190.60
15699                     NaN                 NaN                          NaN
15700                     NaN                 NaN                          NaN
15701            8.190600e+08                 NaN                     30714.75

[15702 rows x 3 columns]

In [37]:
main_df['ratio_ep'] = main_df['dispo_alimentaire_kcal'] / main_df['Nourriture (kg/an)']
main_df.head()

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),...,Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants,dispo_alimentaire_kcal,dispo_alimentaire_proteines,ratio_ep
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,...,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552000,5.575740e+10,8586639.6,1052.026415
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,...,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552000,2.564840e+11,334544.4,7124.556667
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,...,NaN,NaN,NaN,NaN,NaN,animal,30552000,3.345444e+10,446059.2,1858.580000
3,Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,...,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552000,1.338178e+11,111514.8,8921.184000
4,Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,...,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552000,1.115148e+12,68247057.6,586.611257

In [38]:
main_df['Nourriture (kg/an)'].isna().sum()

5616

In [39]:
main_df['Nourriture (kg/an)'].isnull().sum()

5616

In [40]:
main_df['Nourriture (kg/an)'].value_counts()

Nourriture (kg/an)
1.000000e+06    1300
2.000000e+06     692
3.000000e+06     457
4.000000e+06     360
5.000000e+06     300
                ...
2.480000e+08       1
1.714000e+09       1
1.600000e+09       1
2.408000e+09       1
2.401000e+09       1
Name: count, Length: 1439, dtype: int64

In [41]:
main_df['Nourriture (kg/an)'].unique()

array([5.300e+07, 3.600e+07, 1.800e+07, ..., 1.355e+09, 4.680e+09,
       2.401e+09])

In [42]:
pd.set_option('display.max_columns',30)
main_df['proteine_per'] = main_df['dispo_alimentaire_proteines'] / main_df['Nourriture (kg/an)']
main_df['proteine_per'].mean()

0.07514942774422699

In [43]:
main_df['Disponibilité alimentaire en quantité (kg/personne/an)'].isnull().sum()

1595

## Listons 5 elements parmis les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.

In [44]:
main_df['ratio_ep'].value_counts(dropna=False)

ratio_ep
NaN            6648
3493.415000       9
2629.460000       9
840.595000        9
3100.675000       9
               ...
208.656161        1
5452.881000       1
3620.625211       1
3867.866979       1
4197.682500       1
Name: count, Length: 7866, dtype: int64

In [45]:
main_df.groupby(['Zone', 'Produit'])['ratio_ep'].mean()

Zone          Produit
Afghanistan   Abats Comestible         1052.026415
              Agrumes, Autres           285.935385
              Aliments pour enfants    5575.740000
              Ananas                           NaN
              Bananes                   543.974634
                                          ...
Îles Salomon  Viande de Suides         3071.475000
              Viande de Volailles      1126.207500
              Viande, Autre                    NaN
              Vin                              NaN
              Épices, Autres                   NaN
Name: ratio_ep, Length: 15702, dtype: float64

In [46]:
top_calories = main_df.groupby('Produit')['ratio_ep'].mean().sort_values(ascending = False)
top_calories.head(20)

Produit
Huiles de Foie de Poisso    9982.932500
Huile de Sésame             9421.495035
Huile de Son de Riz         9399.062097
Huiles de Poissons          9003.715504
Huile d'Olive               8958.080670
Huile d'Arachide            8933.794530
Huile de Germe de Maïs      8881.576703
Huil Plantes Oleif Autr     8844.583539
Huile de Palmistes          8826.979763
Huile Graines de Coton      8747.566507
Huile de Palme              8721.172690
Huile de Tournesol          8702.120046
Huile de Soja               8637.142755
Huile de Colza&Moutarde     8630.468958
Huile de Coco               8551.994989
Graisses Animales Crue      7578.965784
Beurre, Ghee                7343.215549
Palmistes                   6496.635000
Sésame                      5789.472368
Arachides Decortiquees      5699.030394
Name: ratio_ep, dtype: float64

## Disponibilité interieure mondiale en Kcal pour les végetaux

In [47]:
main_df.head(3)

,Zone,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants,dispo_alimentaire_kcal,dispo_alimentaire_proteines,ratio_ep,proteine_per
0,Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,NaN,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN,animal,30552000,5.575740e+10,8586639.6,1052.026415,0.162012
1,Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,36000000.0,NaN,0.0,36000000.0,NaN,36000000.0,NaN,NaN,NaN,animal,30552000,2.564840e+11,334544.4,7124.556667,0.009293
2,Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,18000000.0,NaN,18000000.0,18000000.0,NaN,NaN,NaN,NaN,NaN,animal,30552000,3.345444e+10,446059.2,1858.580000,0.024781

In [48]:
main_df_vegetaux = main_df.loc[main_df['origine'] == 'vegetal', :]
main_df_vegetaux

               Zone  Code zone                Produit
3731    Afghanistan          2        Agrumes, Autres  \
3732    Afghanistan          2  Aliments pour enfants
3733    Afghanistan          2                 Ananas
3734    Afghanistan          2                Bananes
3735    Afghanistan          2                  Bière
...             ...        ...                    ...
15697  Îles Salomon         25                 Sésame
15698  Îles Salomon         25                    Thé
15699  Îles Salomon         25                Tomates
15700  Îles Salomon         25                    Vin
15701  Îles Salomon         25         Épices, Autres

       Aliments pour animaux (kg/an)
3731                             NaN  \
3732                             NaN
3733                             NaN
3734                             NaN
3735                             NaN
...                              ...
15697                            NaN
15698                            NaN
15699                            NaN
15700                            NaN
15701                            NaN

       Autres utilisations (non alimentaire) (kg/an)
3731                                             NaN  \
3732                                             NaN
3733                                             NaN
3734                                             NaN
3735                                             NaN
...                                              ...
15697                                            NaN
15698                                            NaN
15699                                            NaN
15700                                            NaN
15701                                            NaN

       Disponibilité alimentaire (Kcal/personne/jour)
3731                                              1.0  \
3732                                              1.0
3733                                              0.0
3734                                              4.0
3735                                              0.0
...                                               ...
15697                                             0.0
15698                                             0.0
15699                                             0.0
15700                                             0.0
15701                                             4.0

       Disponibilité alimentaire en quantité (kg/personne/an)
3731                                                1.29       \
3732                                                0.06
3733                                                0.00
3734                                                2.70
3735                                                0.09
...                                                  ...
15697                                               0.01
15698                                               0.17
15699                                               0.07
15700                                               0.07
15701                                               0.48

       Disponibilité de matière grasse en quantité (g/personne/jour)
3731                                                0.01              \
3732                                                0.01
3733                                                 NaN
3734                                                0.02
3735                                                 NaN
...                                                  ...
15697                                                NaN
15698                                                NaN
15699                                                NaN
15700                                                NaN
15701                                               0.21

       Disponibilité de protéines en quantité (g/personne/jour)
3731                                                0.02         \
3732                                                0.03
3733                                                 NaN
3734                                                0.05
3735                                                0.00
...                                                  ...
15697                                                NaN
15698                                               0.04
15699                                                NaN
15700                                                NaN
15701                                               0.15

       Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
3731                         41000000.0                        2000000.0  \
3732                          2000000.0                              NaN
3733                                0.0                              NaN
3734                         82000000.0                              NaN
3735                          3000000.0                              NaN
...                                 ...                              ...
15697                               0.0                              NaN
15698                               0.0                              NaN
15699                               0.0                              NaN
15700                               0.0                              0.0
15701                               0.0                              0.0

       Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
3731                        40000000.0          39000000.0       2000000.0  \
3732                         2000000.0           2000000.0             NaN
3733                               0.0                 NaN             NaN
3734                        82000000.0          82000000.0             NaN
3735                         3000000.0           3000000.0             NaN
...                                ...                 ...             ...
15697                              0.0                 NaN             NaN
15698                              0.0                 NaN             NaN
15699                              0.0                 NaN             NaN
15700                              0.0                 NaN             NaN
15701                              0.0                 NaN             NaN

       Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
3731            3000000.0               NaN                 NaN  \
3732                  NaN               N

In [49]:
# calcul de la disponibilité alimentaire mondiale des produits végétaux par produits en Kg #
dispovegeto_par_produits = main_df_vegetaux['Disponibilité alimentaire en quantité (kg/personne/an)']\
* main_df_vegetaux['nombre_habitants']
dispovegeto_par_produits.sum()

4731821153960.0

In [50]:
# Calcul de la disponibilité alimentaire en Kcal#
dispo_aliment_nutrition_totalkcal = (dispovegeto_par_produits + main_df_vegetaux['Aliments pour animaux (kg/an)'] + main_df_vegetaux['Pertes (kg/an)']) * main_df_vegetaux['ratio_ep']
dispo_aliment_nutrition_totalkcal.sum()

7888059246385536.0

In [51]:
# Calcul du nombre d'humain pouvant être nourris grâce à la disponibilité totale en végétaux en kcal#
humain_nourridispo_kcal = dispo_aliment_nutrition_totalkcal.sum() / (2500*365)
humain_nourridispo_kcal

8644448489.189629

In [52]:
# pourcentage de la population mondiale sur la base de la dispo des vegetaux en kcal #
humain_nourridispoalim_kcal_percent = humain_nourridispo_kcal / world_population
print(f"la disponibilité en produit végétaux totale permettrait de nourrir {humain_nourridispoalim_kcal_percent:.2%} de la population mondiale")

la disponibilité en produit végétaux totale permettrait de nourrir 123539.31% de la population mondiale

In [53]:
# Calcul de la disponibilité alimentaire en proteines#
dispo_aliment_nutrition_totalproteine = (main_df_vegetaux['Nourriture (kg/an)'] + main_df_vegetaux['Aliments pour animaux (kg/an)'] + main_df_vegetaux['Pertes (kg/an)']) * main_df_vegetaux['proteine_per'] / 100
dispo_aliment_nutrition_totalproteine.sum()

2083097578.4171085

In [54]:
# Calcul du nombre de g de proteines par humain par j en kg
# Considérant les besoins à 1g de proteines par Kg de poids.

proteine_kg_jh = 65 / 1000
print(f"un humain a besoin de {proteine_kg_jh} kg/j de proteine")

un humain a besoin de 0.065 kg/j de proteine

In [55]:
## Calcul du nombre d'humain pouvant être nourris grâce à la disponibilité totale en végétaux en kg de proteines #
humain_nourridispoalim_kg_proteine = dispo_aliment_nutrition_totalproteine.sum() / (proteine_kg_jh * 365)
humain_nourridispoalim_kg_proteine

87801794.6645778

In [56]:
# pourcentage de la population mondiale sur la base de la dispo des vegetaux en kg de proteines #
humain_nourridispoalim_kgproteine_percent = humain_nourridispoalim_kg_proteine / world_population
print(f"la disponibilité en produit végétaux totale permettrait de nourrir {humain_nourridispoalim_kgproteine_percent:.2%} de la population mondiale")

la disponibilité en produit végétaux totale permettrait de nourrir 1254.79% de la population mondiale

In [57]:
# Calcul de la dispo alimentaire mondiale en Kcal par an#
dispoAlim_Kcal_monde = main_df['dispo_alimentaire_kcal'].sum()
dispoAlim_Kcal_monde

8973047132145000.0

In [58]:
# Calcul de la dispo alimentaire mondiale en proteines en kg par an #
dispoAlim_proteines_monde = main_df['dispo_alimentaire_proteines'].sum()
dispoAlim_proteines_monde

257959212838.30002

In [59]:
# Calcul du niveau de population pouvant être nourrit avec la disponibilité #
# ... Alimentaire en Kcal #
dispoAlim_Kcal_monde / (2500 * 365)

9833476309.2

In [60]:
# Pourcentage de la population correspondante grâce à la dispo en kcal #
(dispoAlim_Kcal_monde / (2500 * 365))/ world_population

1405.3191618055241

In [61]:
# Calcul du niveau de population pouvant être nourrit avec la disponibilité #
# ... Alimentaire en protéines #
dispoAlim_proteines_monde / (proteine_kg_jh * 365)

10872885683.384615

In [62]:
# Pourcentage de la population correspondante grâce à la dispo en proteines #
dispoAlim_proteines_monde / (proteine_kg_jh * 365)/ world_population

1553.8629589909938

In [63]:
df_sousNutrition = pd.read_csv('fr_sousalimentation.csv')
df_sousNutrition.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN

In [64]:
df_sousNutrition.shape

(1020, 15)

In [65]:
df_sousNutrition['Zone'].unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Antigua-et-Barbuda', 'Arabie saoudite',
       'Argentine', 'Arménie', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Danemark', 'Djibouti', 'Dominique', 'Égypte', 'El Salvador',
       'Émirats arabes unis', 'Équateur', 'Érythrée', 'Espagne',
       'Estonie', 'Eswatini', "États-Unis d'Amérique", 'Éthiopie',
       'Fédération de Russie', 'Fidji', 'Finlande', 'France', 'Gabon',
       'Gambie', 'Géorgie', 'Ghana', 'Grèce', 'Grenade', 'Groenland',
       'Guatemala', 'Guinée', 'Guinée équatoriale', 'Guinée-Bissau',
       'Guyana', 'Haïti', 'Honduras', 'Hongrie', 'Îles Cook',
       'Îles Marshall', 'Îles Salomon', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Lituanie', 'Luxembourg',
       'Macédoine du Nord', 'Madagascar', 'Malaisie', 'Malawi',
       'Maldives', 'Mali', 'Malte', 'Maroc', 'Maurice', 'Mauritanie',
       'Mexique', 'Micronésie (États fédérés de)', 'Mongolie',
       'Monténégro', 'Mozambique', 'Myanmar', 'Namibie', 'Nauru', 'Népal',
       'Nicaragua', 'Niger', 'Nigéria', 'Nioué', 'Norvège',
       'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman', 'Ouganda',
       'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine', 'Panama',
       'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas', 'Pérou',
       'Philippines', 'Pologne', 'Polynésie française', 'Porto Rico',
       'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Roumanie', 'Royaume-Uni', 'Rwanda',
       'Sainte-Lucie', 'Saint-Kitts-et-Nevis',
       'Saint-Vincent-et-les Grenadines', 'Samoa', 'Samoa américaines',
       'Sao Tomé-et-Principe', 'Sénégal', 'Serbie', 'Seychelles',
       'Sierra Leone', 'Singapour', 'Slovaquie', 'Slovénie', 'Somalie',
       'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède', 'Suisse',
       'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie (la)', 'Thaïlande',
       'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga', 'Trinité-et-Tobago',
       'Tunisie', 'Turkménistan', 'Turquie', 'Tuvalu', 'Ukraine',
       'Uruguay', 'Vanuatu', 'Venezuela (République bolivarienne du)',
       'Viet Nam', 'Yémen', 'Zambie', 'Zimbabwe'], dtype=object)

In [68]:
# la variable valeur doit être numerrique
df_sousNutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   Code zone               1020 non-null   int64
 3   Zone                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   Code Produit            1020 non-null   int64
 7   Produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   Année                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [69]:
df_subsetsousNutrition = df_sousNutrition.loc[:,['Zone','Code année', 'Année', 'Valeur']]
df_subsetsousNutrition

             Zone  Code année      Année Valeur
0     Afghanistan    20122014  2012-2014    7.9
1     Afghanistan    20132015  2013-2015    8.8
2     Afghanistan    20142016  2014-2016    9.6
3     Afghanistan    20152017  2015-2017   10.2
4     Afghanistan    20162018  2016-2018   10.6
...           ...         ...        ...    ...
1015     Zimbabwe    20122014  2012-2014    6.6
1016     Zimbabwe    20132015  2013-2015    7.2
1017     Zimbabwe    20142016  2014-2016    7.8
1018     Zimbabwe    20152017  2015-2017    8.2
1019     Zimbabwe    20162018  2016-2018    8.5

[1020 rows x 4 columns]

In [70]:
df_subsetsousNutrition['Valeur'] = pd.to_numeric(df_subsetsousNutrition['Valeur'], errors='coerce')
df_subsetsousNutrition['Valeur']

0        7.9
1        8.8
2        9.6
3       10.2
4       10.6
        ...
1015     6.6
1016     7.2
1017     7.8
1018     8.2
1019     8.5
Name: Valeur, Length: 1020, dtype: float64

In [71]:
# verifions que la transformation a bel et bien été opérée
df_subsetsousNutrition['Valeur'].dtypes

dtype('float64')

In [73]:
# etat de la sous-nutrition entre 2013 et 2015
df_multiIndexSousNutrition.loc[(slice(None),'2012-2014')]

Zone
Afghanistan               7.9
Afrique du Sud            2.6
Albanie                   0.2
Algérie                   1.7
Allemagne                 NaN
                         ...
États-Unis d'Amérique     NaN
Éthiopie                 25.3
Îles Cook                 NaN
Îles Marshall             NaN
Îles Salomon              NaN
Name: Valeur, Length: 204, dtype: float64

In [83]:
# Decompte de la population sous-nourris en 2013 #
question10 = (df_multiIndexSousNutrition.loc[(slice(None),'2012-2014')].sum()) * (10**3)
question10

881400.0

In [84]:
# Resultat en proportion de la population mondiale #
question10_proportion =  question10 / world_population
question10_proportion
print(f"soit une proportion de {question10_proportion:.2%} pour cent de la population mondiale")

soit une proportion de 12.60% pour cent de la population mondiale

In [85]:
df_sousNutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            1020 non-null   object
 1   Domaine                 1020 non-null   object
 2   Code zone               1020 non-null   int64
 3   Zone                    1020 non-null   object
 4   Code Élément            1020 non-null   int64
 5   Élément                 1020 non-null   object
 6   Code Produit            1020 non-null   int64
 7   Produit                 1020 non-null   object
 8   Code année              1020 non-null   int64
 9   Année                   1020 non-null   object
 10  Unité                   1020 non-null   object
 11  Valeur                  605 non-null    object
 12  Symbole                 1020 non-null   object
 13  Description du Symbole  1020 non-null   object
 14  Note                    0 non-null      float64
dtypes: float64(1), int64(4), object(10)
memory usage: 119.7+ KB

In [86]:
df_sousNutrition.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN

In [87]:

df_cereales = pd.read_csv('fr_cereales.csv')
df_cereales.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées

In [81]:
df_cereales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            891 non-null    object
 1   Domaine                 891 non-null    object
 2   Code zone               891 non-null    int64
 3   Zone                    891 non-null    object
 4   Code Élément            891 non-null    int64
 5   Élément                 891 non-null    object
 6   Code Produit            891 non-null    int64
 7   Produit                 891 non-null    object
 8   Code année              891 non-null    int64
 9   Année                   891 non-null    int64
 10  Unité                   891 non-null    object
 11  Valeur                  891 non-null    int64
 12  Symbole                 891 non-null    object
 13  Description du Symbole  891 non-null    object
dtypes: int64(6), object(8)
memory usage: 97.6+ KB

In [82]:
df_cereales['Produit'].nunique()

9

In [89]:
df_cereales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            891 non-null    object
 1   Domaine                 891 non-null    object
 2   Code zone               891 non-null    int64
 3   Zone                    891 non-null    object
 4   Code Élément            891 non-null    int64
 5   Élément                 891 non-null    object
 6   Code Produit            891 non-null    int64
 7   Produit                 891 non-null    object
 8   Code année              891 non-null    int64
 9   Année                   891 non-null    int64
 10  Unité                   891 non-null    object
 11  Valeur                  891 non-null    int64
 12  Symbole                 891 non-null    object
 13  Description du Symbole  891 non-null    object
dtypes: int64(6), object(8)
memory usage: 97.6+ KB

In [88]:
# Liste des produits considérés comme des cereales selon la FAO #
df_cereales[['Code Produit', 'Produit']]

     Code Produit           Produit
0            2511               Blé
1            2805  Riz (Eq Blanchi)
2            2513              Orge
3            2514              Maïs
4            2517            Millet
..            ...               ...
886          2514              Maïs
887          2516            Avoine
888          2517            Millet
889          2518            Sorgho
890          2520  Céréales, Autres

[891 rows x 2 columns]

In [93]:
list_cereales = df_cereales['Produit'].unique()
list_cereales

array(['Blé', 'Riz (Eq Blanchi)', 'Orge', 'Maïs', 'Millet', 'Seigle',
       'Avoine', 'Sorgho', 'Céréales, Autres'], dtype=object)

In [94]:
main_df['is_cereal'] = main_df['Produit'].isin(list_cereales)
main_df['is_cereal']

0        False
1        False
2        False
3        False
4        False
         ...
15697    False
15698    False
15699    False
15700    False
15701    False
Name: is_cereal, Length: 15702, dtype: bool

In [95]:
main_df.loc[main_df['is_cereal'] == True, :].shape

(1506, 25)

In [96]:
pd.set_option('display.max_columns', 30)
main_df.loc[main_df['is_cereal'] == True, :]

               Zone  Code zone           Produit
3736    Afghanistan          2               Blé  \
3740    Afghanistan          2  Céréales, Autres
3758    Afghanistan          2              Maïs
3760    Afghanistan          2            Millet
3765    Afghanistan          2              Orge
...             ...        ...               ...
15658  Îles Salomon         25  Céréales, Autres
15677  Îles Salomon         25              Maïs
15682  Îles Salomon         25              Orge
15693  Îles Salomon         25  Riz (Eq Blanchi)
15695  Îles Salomon         25            Sorgho

       Aliments pour animaux (kg/an)
3736                             NaN  \
3740                             NaN
3758                     200000000.0
3760                             NaN
3765                     360000000.0
...                              ...
15658                            NaN
15677                            NaN
15682                            NaN
15693                            0.0
15695                            0.0

       Autres utilisations (non alimentaire) (kg/an)
3736                                             NaN  \
3740                                             NaN
3758                                             NaN
3760                                             NaN
3765                                             NaN
...                                              ...
15658                                            NaN
15677                                            NaN
15682                                            NaN
15693                                     12000000.0
15695                                            NaN

       Disponibilité alimentaire (Kcal/personne/jour)
3736                                           1369.0  \
3740                                              0.0
3758                                             21.0
3760                                              3.0
3765                                             26.0
...                                               ...
15658                                             0.0
15677                                             1.0
15682                                             0.0
15693                                           623.0
15695                                             NaN

       Disponibilité alimentaire en quantité (kg/personne/an)
3736                                              160.23       \
3740                                                0.00
3758                                                2.50
3760                                                0.40
3765                                                2.92
...                                                  ...
15658                                               0.00
15677                                               0.15
15682                                               0.07
15693                                              63.76
15695                                                NaN

       Disponibilité de matière grasse en quantité (g/personne/jour)
3736                                                4.69              \
3740                                                0.00
3758                                                0.30
3760                                                0.02
3765                                                0.24
...                                                  ...
15658                                               0.00
15677                                               0.01
15682                                                NaN
15693                                               1.36
15695                                                NaN

       Disponibilité de protéines en quantité (g/personne/jour)
3736                                               36.91         \
3740                                                0.00
3758                                                0.56
3760                                                0.08
3765                                                0.79
...                                                  ...
15658                                               0.00
15677                                               0.03
15682                                               0.01
15693                                              10.90
15695                                                NaN

       Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
3736                       5.992000e+09                              NaN  \
3740                       0.000000e+00                              NaN
3758                       3.130000e+08                              0.0
3760                       1.300000e+07                              NaN
3765                       5.240000e+08                              NaN
...                                 ...                              ...
15658                      0.000000e+00                              NaN
15677                      0.000000e+00                              NaN
15682                      1.000000e+06                              NaN
15693                      4.900000e+07                              0.0
15695                      0.000000e+00                              NaN

       Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
3736                      1.173000e+09        4.895000e+09     775000000.0  \
3740                      0.000000e+00                 NaN             NaN
3758                      1.000000e+06        7.600000e+07      31000000.0
3760                               NaN        1.200000e+07       1000000.0
3765                      1.000000e+07        8.900000e+07      52000000.0
...                                ...                 ...             ...
15658                     0.000000e+00                 NaN             0.0
15677                     0.000000e+00                 NaN             NaN
15682                     1.000000e+06                 NaN             NaN
15693                     4.700000e+07        3.600000e+07       1000000.0
15695                     0.000000e+00                 NaN             NaN

       Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
3736         5.169000e+09       322000000.0                 NaN  \
3740                  NaN               NaN                 NaN
3758         3.120000e+08

In [97]:
main_df[main_df['is_cereal']]

               Zone  Code zone           Produit
3736    Afghanistan          2               Blé  \
3740    Afghanistan          2  Céréales, Autres
3758    Afghanistan          2              Maïs
3760    Afghanistan          2            Millet
3765    Afghanistan          2              Orge
...             ...        ...               ...
15658  Îles Salomon         25  Céréales, Autres
15677  Îles Salomon         25              Maïs
15682  Îles Salomon         25              Orge
15693  Îles Salomon         25  Riz (Eq Blanchi)
15695  Îles Salomon         25            Sorgho

       Aliments pour animaux (kg/an)
3736                             NaN  \
3740                             NaN
3758                     200000000.0
3760                             NaN
3765                     360000000.0
...                              ...
15658                            NaN
15677                            NaN
15682                            NaN
15693                            0.0
15695                            0.0

       Autres utilisations (non alimentaire) (kg/an)
3736                                             NaN  \
3740                                             NaN
3758                                             NaN
3760                                             NaN
3765                                             NaN
...                                              ...
15658                                            NaN
15677                                            NaN
15682                                            NaN
15693                                     12000000.0
15695                                            NaN

       Disponibilité alimentaire (Kcal/personne/jour)
3736                                           1369.0  \
3740                                              0.0
3758                                             21.0
3760                                              3.0
3765                                             26.0
...                                               ...
15658                                             0.0
15677                                             1.0
15682                                             0.0
15693                                           623.0
15695                                             NaN

       Disponibilité alimentaire en quantité (kg/personne/an)
3736                                              160.23       \
3740                                                0.00
3758                                                2.50
3760                                                0.40
3765                                                2.92
...                                                  ...
15658                                               0.00
15677                                               0.15
15682                                               0.07
15693                                              63.76
15695                                                NaN

       Disponibilité de matière grasse en quantité (g/personne/jour)
3736                                                4.69              \
3740                                                0.00
3758                                                0.30
3760                                                0.02
3765                                                0.24
...                                                  ...
15658                                               0.00
15677                                               0.01
15682                                                NaN
15693                                               1.36
15695                                                NaN

       Disponibilité de protéines en quantité (g/personne/jour)
3736                                               36.91         \
3740                                                0.00
3758                                                0.56
3760                                                0.08
3765                                                0.79
...                                                  ...
15658                                               0.00
15677                                               0.03
15682                                               0.01
15693                                              10.90
15695                                                NaN

       Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
3736                       5.992000e+09                              NaN  \
3740                       0.000000e+00                              NaN
3758                       3.130000e+08                              0.0
3760                       1.300000e+07                              NaN
3765                       5.240000e+08                              NaN
...                                 ...                              ...
15658                      0.000000e+00                              NaN
15677                      0.000000e+00                              NaN
15682                      1.000000e+06                              NaN
15693                      4.900000e+07                              0.0
15695                      0.000000e+00                              NaN

       Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
3736                      1.173000e+09        4.895000e+09     775000000.0  \
3740                      0.000000e+00                 NaN             NaN
3758                      1.000000e+06        7.600000e+07      31000000.0
3760                               NaN        1.200000e+07       1000000.0
3765                      1.000000e+07        8.900000e+07      52000000.0
...                                ...                 ...             ...
15658                     0.000000e+00                 NaN             0.0
15677                     0.000000e+00                 NaN             NaN
15682                     1.000000e+06                 NaN             NaN
15693                     4.700000e+07        3.600000e+07       1000000.0
15695                     0.000000e+00                 NaN             NaN

       Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
3736         5.169000e+09       322000000.0                 NaN  \
3740                  NaN               NaN                 NaN
3758         3.120000e+08

In [99]:
df_all_China_territories = main_df[main_df['Zone'].str.startswith('Chine')]
df_all_China_territories

                     Zone  Code zone                   Produit
704                 Chine        351          Abats Comestible  \
705                 Chine        351  Animaux Aquatiques Autre
706                 Chine        351              Beurre, Ghee
707                 Chine        351              Cephalopodes
708                 Chine        351                 Crustacés
...                   ...        ...                       ...
6378  Chine, continentale         41                    Sésame
6379  Chine, continentale         41                       Thé
6380  Chine, continentale         41                   Tomates
6381  Chine, continentale         41                       Vin
6382  Chine, continentale         41            Épices, Autres

      Aliments pour animaux (kg/an)
704                      50000000.0  \
705                             NaN
706                             NaN
707                             NaN
708                             NaN
...                             ...
6378                            NaN
6379                            NaN
6380                            NaN
6381                            NaN
6382                            NaN

      Autres utilisations (non alimentaire) (kg/an)
704                                      89000000.0  \
705                                             0.0
706                                             0.0
707                                             0.0
708                                             0.0
...                                             ...
6378                                            NaN
6379                                            NaN
6380                                            NaN
6381                                            NaN
6382                                            NaN

      Disponibilité alimentaire (Kcal/personne/jour)
704                                             11.0  \
705                                              1.0
706                                              3.0
707                                              2.0
708                                              5.0
...                                              ...
6378                                             6.0
6379                                             1.0
6380                                            16.0
6381                                             3.0
6382                                             1.0

      Disponibilité alimentaire en quantité (kg/personne/an)
704                                                3.56       \
705                                                0.67
706                                                0.12
707                                                0.83
708                                                3.90
...                                                 ...
6378                                               0.35
6379                                               1.13
6380                                              31.12
6381                                               1.50
6382                                               0.13

      Disponibilité de matière grasse en quantité (g/personne/jour)
704                                                0.33              \
705                                                0.00
706                                                0.28
707                                                0.02
708                                                0.05
...                                                 ...
6378                                               0.50
6379                                                NaN
6380                                               0.25
6381                                                NaN
6382                                               0.04

      Disponibilité de protéines en quantité (g/personne/jour)
704                                                1.74         \
705                                                0.07
706                                                0.00
707                                                0.32
708                                                0.98
...                                                 ...
6378                                               0.16
6379                                               0.31
6380                                               0.94
6381                                               0.00
6382                                               0.04

      Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
704                       5.180000e+09                     4.400000e+08  \
705                       9.530000e+08                     1.140000e+08
706                       1.760000e+08                     2.000000e+06
707                       1.172000e+09                     4.860000e+08
708                       5.528000e+09                     1.077000e+09
...                                ...                              ...
6378                      1.030000e+09                     3.400000e+07
6379                      1.610000e+09                     3.350000e+08
6380                      4.666000e+10                     3.977000e+09
6381                      2.075000e+09                     3.000000e+06
6382                      1.760000e+08                     4.320000e+08

      Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
704                      1.540000e+09        5.042000e+09             NaN  \
705                      1.700000e+07        9.530000e+08             NaN
706                      8.000000e+07        1.750000e+08             NaN
707                      4.560000e+08        1.172000e+09             NaN
708                      4.010000e+08        5.528000e+09             NaN
...                               ...                 ...             ...
6378                     4.410000e+08        4.800000e+08    3.200000e+07
6379                     2.100000e+07        1.560000e+09    5.800000e+07
6380                     8.500000e+07        4.312200e+10    3.539000e+09
6381                     3.780000e+08        2.075000e+09             NaN
6382                     3.000000e+06        1.760000e+08             NaN

      Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
704         4.080000e+09               NaN                 NaN  \
705         1.049000e+09

In [100]:

df_all_China_territories = df_all_China_territories.set_index('Zone')
df_all_China_territories

                     Code zone                   Produit
Zone
Chine                      351          Abats Comestible  \
Chine                      351  Animaux Aquatiques Autre
Chine                      351              Beurre, Ghee
Chine                      351              Cephalopodes
Chine                      351                 Crustacés
...                        ...                       ...
Chine, continentale         41                    Sésame
Chine, continentale         41                       Thé
Chine, continentale         41                   Tomates
Chine, continentale         41                       Vin
Chine, continentale         41            Épices, Autres

                     Aliments pour animaux (kg/an)
Zone
Chine                                   50000000.0  \
Chine                                          NaN
Chine                                          NaN
Chine                                          NaN
Chine                                          NaN
...                                            ...
Chine, continentale                            NaN
Chine, continentale                            NaN
Chine, continentale                            NaN
Chine, continentale                            NaN
Chine, continentale                            NaN

                     Autres utilisations (non alimentaire) (kg/an)
Zone
Chine                                                   89000000.0  \
Chine                                                          0.0
Chine                                                          0.0
Chine                                                          0.0
Chine                                                          0.0
...                                                            ...
Chine, continentale                                            NaN
Chine, continentale                                            NaN
Chine, continentale                                            NaN
Chine, continentale                                            NaN
Chine, continentale                                            NaN

                     Disponibilité alimentaire (Kcal/personne/jour)
Zone
Chine                                                          11.0  \
Chine                                                           1.0
Chine                                                           3.0
Chine                                                           2.0
Chine                                                           5.0
...                                                             ...
Chine, continentale                                             6.0
Chine, continentale                                             1.0
Chine, continentale                                            16.0
Chine, continentale                                             3.0
Chine, continentale                                             1.0

                     Disponibilité alimentaire en quantité (kg/personne/an)
Zone
Chine                                                             3.56       \
Chine                                                             0.67
Chine                                                             0.12
Chine                                                             0.83
Chine                                                             3.90
...                                                                ...
Chine, continentale                                               0.35
Chine, continentale                                               1.13
Chine, continentale                                              31.12
Chine, continentale                                               1.50
Chine, continentale                                               0.13

                     Disponibilité de matière grasse en quantité (g/personne/jour)
Zone
Chine                                                             0.33              \
Chine                                                             0.00
Chine                                                             0.28
Chine                                                             0.02
Chine                                                             0.05
...                                                                ...
Chine, continentale                                               0.50
Chine, continentale                                                NaN
Chine, continentale                                               0.25
Chine, continentale                                                NaN
Chine, continentale                                               0.04

                     Disponibilité de protéines en quantité (g/personne/jour)
Zone
Chine                                                             1.74         \
Chine                                                             0.07
Chine                                                             0.00
Chine                                                             0.32
Chine                                                             0.98
...                                                                ...
Chine, continentale                                               0.16
Chine, continentale                                               0.31
Chine, continentale                                               0.94
Chine, continentale                                               0.00
Chine, continentale                                               0.04

                     Disponibilité intérieure (kg/an)
Zone
Chine                                    5.180000e+09  \
Chine                                    9.530000e+08
Chine                                    1.760000e+08
Chine                                    1.172000e+09
Chine                                    5.528000e+09
...                                               ...
Chine, continentale

In [101]:
df_all_China_territories.drop('Chine', inplace=True)

In [102]:
df_all_China_territories.reset_index()

                         Zone  Code zone                   Produit
0    Chine - RAS de Hong-Kong         96          Abats Comestible  \
1    Chine - RAS de Hong-Kong         96  Animaux Aquatiques Autre
2    Chine - RAS de Hong-Kong         96              Beurre, Ghee
3    Chine - RAS de Hong-Kong         96              Cephalopodes
4    Chine - RAS de Hong-Kong         96                 Crustacés
..                        ...        ...                       ...
372       Chine, continentale         41                    Sésame
373       Chine, continentale         41                       Thé
374       Chine, continentale         41                   Tomates
375       Chine, continentale         41                       Vin
376       Chine, continentale         41            Épices, Autres

     Aliments pour animaux (kg/an)
0                              NaN  \
1                              NaN
2                              NaN
3                              NaN
4                              NaN
..                             ...
372                            NaN
373                            NaN
374                            NaN
375                            NaN
376                            NaN

     Autres utilisations (non alimentaire) (kg/an)
0                                       63000000.0  \
1                                              0.0
2                                              0.0
3                                              0.0
4                                              0.0
..                                             ...
372                                            NaN
373                                            NaN
374                                            NaN
375                                            NaN
376                                            NaN

     Disponibilité alimentaire (Kcal/personne/jour)
0                                              81.0  \
1                                               1.0
2                                              25.0
3                                               6.0
4                                              15.0
..                                              ...
372                                             6.0
373                                             1.0
374                                            16.0
375                                             3.0
376                                             1.0

     Disponibilité alimentaire en quantité (kg/personne/an)
0                                                26.77       \
1                                                 0.34
2                                                 1.24
3                                                 3.05
4                                                11.85
..                                                 ...
372                                               0.35
373                                               1.13
374                                              31.12
375                                               1.50
376                                               0.13

     Disponibilité de matière grasse en quantité (g/personne/jour)
0                                                 2.25              \
1                                                 0.02
2                                                 2.79
3                                                 0.08
4                                                 0.14
..                                                 ...
372                                               0.50
373                                                NaN
374                                               0.25
375                                                NaN
376                                               0.04

     Disponibilité de protéines en quantité (g/personne/jour)
0                                                13.27         \
1                                                 0.05
2                                                 0.03
3                                                 1.18
4                                                 2.97
..                                                 ...
372                                               0.16
373                                               0.31
374                                               0.94
375                                               0.00
376                                               0.04

     Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
0                        2.560000e+08                     4.300000e+08  \
1                        2.000000e+06                     0.000000e+00
2                        9.000000e+06                     1.000000e+06
3                        2.200000e+07                     2.300000e+07
4                        8.500000e+07                     7.100000e+07
..                                ...                              ...
372                      1.030000e+09                     3.400000e+07
373                      1.610000e+09                     3.350000e+08
374                      4.666000e+10                     3.977000e+09
375                      2.075000e+09                     3.000000e+06
376                      1.760000e+08                     4.320000e+08

     Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
0                        674000000.0        1.930000e+08             NaN  \
1                          3000000.0        2.000000e+06             NaN
2                         10000000.0        9.000000e+06             NaN
3                         37000000.0        2.200000e+07             NaN
4                        151000000.0        8.500000e+07             NaN
..                               ...                 ...             ...
372                      441000000.0        4.800000e+08    3.200000e+07
373                       21000000.0        1.560000e+09    5.800000e+07
374                       85000000.0        4.312200e+10    3.539000e+09
375                      378000000.0        2.075000e+09             NaN
376                        3000000.0        1.760000e+08             NaN

     Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
0          1.200000e+07               NaN                 NaN  \
1                   NaN               NaN                 NaN
2

In [103]:
main_df.set_index('Zone')

              Code zone                 Produit
Zone
Afghanistan           2        Abats Comestible  \
Afghanistan           2            Beurre, Ghee
Afghanistan           2                   Crème
Afghanistan           2  Graisses Animales Crue
Afghanistan           2      Lait - Excl Beurre
...                 ...                     ...
Îles Salomon         25                  Sésame
Îles Salomon         25                     Thé
Îles Salomon         25                 Tomates
Îles Salomon         25                     Vin
Îles Salomon         25          Épices, Autres

              Aliments pour animaux (kg/an)
Zone
Afghanistan                             NaN  \
Afghanistan                             NaN
Afghanistan                             NaN
Afghanistan                             NaN
Afghanistan                     123000000.0
...                                     ...
Îles Salomon                            NaN
Îles Salomon                            NaN
Îles Salomon                            NaN
Îles Salomon                            NaN
Îles Salomon                            NaN

              Autres utilisations (non alimentaire) (kg/an)
Zone
Afghanistan                                             NaN  \
Afghanistan                                             NaN
Afghanistan                                             NaN
Afghanistan                                             NaN
Afghanistan                                             NaN
...                                                     ...
Îles Salomon                                            NaN
Îles Salomon                                            NaN
Îles Salomon                                            NaN
Îles Salomon                                            NaN
Îles Salomon                                            NaN

              Disponibilité alimentaire (Kcal/personne/jour)
Zone
Afghanistan                                              5.0  \
Afghanistan                                             23.0
Afghanistan                                              3.0
Afghanistan                                             12.0
Afghanistan                                            100.0
...                                                      ...
Îles Salomon                                             0.0
Îles Salomon                                             0.0
Îles Salomon                                             0.0
Îles Salomon                                             0.0
Îles Salomon                                             4.0

              Disponibilité alimentaire en quantité (kg/personne/an)
Zone
Afghanistan                                                1.72       \
Afghanistan                                                1.17
Afghanistan                                                0.60
Afghanistan                                                0.49
Afghanistan                                               62.23
...                                                         ...
Îles Salomon                                               0.01
Îles Salomon                                               0.17
Îles Salomon                                               0.07
Îles Salomon                                               0.07
Îles Salomon                                               0.48

              Disponibilité de matière grasse en quantité (g/personne/jour)
Zone
Afghanistan                                                0.20              \
Afghanistan                                                2.61
Afghanistan                                                0.32
Afghanistan                                                1.31
Afghanistan                                                5.19
...                                                         ...
Îles Salomon                                                NaN
Îles Salomon                                                NaN
Îles Salomon                                                NaN
Îles Salomon                                                NaN
Îles Salomon                                               0.21

              Disponibilité de protéines en quantité (g/personne/jour)
Zone
Afghanistan                                                0.77         \
Afghanistan                                                0.03
Afghanistan                                                0.04
Afghanistan                                                0.01
Afghanistan                                                6.12
...                                                         ...
Îles Salomon                                                NaN
Îles Salomon                                               0.04
Îles Salomon                                                NaN
Îles Salomon                                                NaN
Îles Salomon                                               0.15

              Disponibilité intérieure (kg/an)
Zone
Afghanistan                       5.300000e+07  \
Afghanistan                       3.600000e+07
Afghanistan                       1.800000e+07
Afghanistan                       1.500000e+07
Afghanistan                       2.083000e+09
...                                        ...
Îles Salomon                      0.000000e+00
Îles Salomon                      0.000000e+00
Îles Salomon                      0.000000e+00
Îles Salomon                      0.000000e+00
Îles Salomon                      0.000000e+00

              Exportations - Quantité (kg/an)
Zone
Afghanistan                               NaN  \
Afghanistan                               NaN
Afghanistan                               NaN
Afghanistan                               NaN
Afghanistan                               0.0
...                                       ...
Îles Salomon                              NaN
Îles Salomon                              NaN
Îl

In [104]:
main_df_exceptChina = main_df.set_index('Zone').drop('Chine')
main_df_exceptChina.head()

,Code zone,Produit,Aliments pour animaux (kg/an),Autres utilisations (non alimentaire) (kg/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure (kg/an),Exportations - Quantité (kg/an),Importations - Quantité (kg/an),Nourriture (kg/an),Pertes (kg/an),Production (kg/an),Semences (kg/an),Traitement (kg/an),Variation de stock (kg/an),origine,nombre_habitants,dispo_alimentaire_kcal,dispo_alimentaire_proteines,ratio_ep,proteine_per,is_cereal
Zone,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2,Abats Comestible,NaN,NaN,5.0,1.72,0.20,0.77,5.300000e+07,NaN,NaN,5.300000e+07,NaN,5.300000e+07,NaN,NaN,NaN,animal,30552000,5.575740e+10,8586639.6,1052.026415,0.162012,False
Afghanistan,2,"Beurre, Ghee",NaN,NaN,23.0,1.17,2.61,0.03,3.600000e+07,NaN,0.0,3.600000e+07,NaN,3.600000e+07,NaN,NaN,NaN,animal,30552000,2.564840e+11,334544.4,7124.556667,0.009293,False
Afghanistan,2,Crème,NaN,NaN,3.0,0.60,0.32,0.04,1.800000e+07,NaN,18000000.0,1.800000e+07,NaN,NaN,NaN,NaN,NaN,animal,30552000,3.345444e+10,446059.2,1858.580000,0.024781,False
Afghanistan,2,Graisses Animales Crue,NaN,NaN,12.0,0.49,1.31,0.01,1.500000e+07,NaN,1000000.0,1.500000e+07,NaN,1.400000e+07,NaN,NaN,NaN,animal,30552000,1.338178e+11,111514.8,8921.184000,0.007434,False
Afghanistan,2,Lait - Excl Beurre,123000000.0,NaN,100.0,62.23,5.19,6.12,2.083000e+09,0.0,248000000.0,1.901000e+09,58000000.0,1.835000e+09,NaN,NaN,NaN,animal,30552000,1.115148e+12,68247057.6,586.611257,0.035901,False

In [106]:
main_df_exceptChina.reset_index(inplace=True)

In [107]:
# On voit bien que le pays 'Chine' qui contient une redondance des infos disponibles dans le pays...
# Hong-Kong, MAcao, Taiwan, Chine continental a été supprimé. 
main_df_exceptChina[main_df_exceptChina['Zone'].str.startswith('Chin')]

                          Zone  Code zone                   Produit
704   Chine - RAS de Hong-Kong         96          Abats Comestible  \
705   Chine - RAS de Hong-Kong         96  Animaux Aquatiques Autre
706   Chine - RAS de Hong-Kong         96              Beurre, Ghee
707   Chine - RAS de Hong-Kong         96              Cephalopodes
708   Chine - RAS de Hong-Kong         96                 Crustacés
...                        ...        ...                       ...
6281       Chine, continentale         41                    Sésame
6282       Chine, continentale         41                       Thé
6283       Chine, continentale         41                   Tomates
6284       Chine, continentale         41                       Vin
6285       Chine, continentale         41            Épices, Autres

      Aliments pour animaux (kg/an)
704                             NaN  \
705                             NaN
706                             NaN
707                             NaN
708                             NaN
...                             ...
6281                            NaN
6282                            NaN
6283                            NaN
6284                            NaN
6285                            NaN

      Autres utilisations (non alimentaire) (kg/an)
704                                      63000000.0  \
705                                             0.0
706                                             0.0
707                                             0.0
708                                             0.0
...                                             ...
6281                                            NaN
6282                                            NaN
6283                                            NaN
6284                                            NaN
6285                                            NaN

      Disponibilité alimentaire (Kcal/personne/jour)
704                                             81.0  \
705                                              1.0
706                                             25.0
707                                              6.0
708                                             15.0
...                                              ...
6281                                             6.0
6282                                             1.0
6283                                            16.0
6284                                             3.0
6285                                             1.0

      Disponibilité alimentaire en quantité (kg/personne/an)
704                                               26.77       \
705                                                0.34
706                                                1.24
707                                                3.05
708                                               11.85
...                                                 ...
6281                                               0.35
6282                                               1.13
6283                                              31.12
6284                                               1.50
6285                                               0.13

      Disponibilité de matière grasse en quantité (g/personne/jour)
704                                                2.25              \
705                                                0.02
706                                                2.79
707                                                0.08
708                                                0.14
...                                                 ...
6281                                               0.50
6282                                                NaN
6283                                               0.25
6284                                                NaN
6285                                               0.04

      Disponibilité de protéines en quantité (g/personne/jour)
704                                               13.27         \
705                                                0.05
706                                                0.03
707                                                1.18
708                                                2.97
...                                                 ...
6281                                               0.16
6282                                               0.31
6283                                               0.94
6284                                               0.00
6285                                               0.04

      Disponibilité intérieure (kg/an)  Exportations - Quantité (kg/an)
704                       2.560000e+08                     4.300000e+08  \
705                       2.000000e+06                     0.000000e+00
706                       9.000000e+06                     1.000000e+06
707                       2.200000e+07                     2.300000e+07
708                       8.500000e+07                     7.100000e+07
...                                ...                              ...
6281                      1.030000e+09                     3.400000e+07
6282                      1.610000e+09                     3.350000e+08
6283                      4.666000e+10                     3.977000e+09
6284                      2.075000e+09                     3.000000e+06
6285                      1.760000e+08                     4.320000e+08

      Importations - Quantité (kg/an)  Nourriture (kg/an)  Pertes (kg/an)
704                       674000000.0        1.930000e+08             NaN  \
705                         3000000.0        2.000000e+06             NaN
706                        10000000.0        9.000000e+06             NaN
707                        37000000.0        2.200000e+07             NaN
708                       151000000.0        8.500000e+07             NaN
...                               ...                 ...             ...
6281                      441000000.0        4.800000e+08    3.200000e+07
6282                       21000000.0        1.560000e+09    5.800000e+07
6283                       85000000.0        4.312200e+10    3.539000e+09
6284                      378000000.0        2.075000e+09             NaN
6285                        3000000.0        1.760000e+08             NaN

      Production (kg/an)  Semences (kg/an)  Traitement (kg/an)
704         1.200000e+07